#DATABASE_URL  = mysql+aiomysql://user:password@rds-endpoint:3306/dbname
#REDIS_URL     = redis://localhost:6379
#OPENAI_API_KEY = 
#AWS_ACCESS_KEY_ID =
#AWS_SECRET_ACCESS_KEY =
#AWS_REGION = ap-northeast-2
#AWS_S3_BUCKET_NAME =